<div class="new-event-form">
<%= form_for(@event) do |q| %>
  <div class="field">
    <%= q.label :name, "Name" %><br>
    <%= q.text_field :name %>
  </div>

  <div class="field">
    <%= q.label :description, "Description" %><br>
    <%= q.text_field :description %>
  </div>

  <div class="field">
    <%= q.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= q.label :cutoff_time, "Cutoff time" %><br>
    <%= q.text_field :cutoff_time %>
  </div>

  <div class="field">
    <%= q.label :suggested_date, "Date" %><br>
    <%= q.text_field :suggested_date %>
  </div>

  <div class="field">
    <%= q.label :suggested_time, "Time" %><br>
    <%= q.text_field :suggested_time %>
  </div>

  <div class="field">
    <%= q.label :suggested_location, "Location" %><br>
    <%= q.text_field :suggested_location %>
  </div>
  <div class="actions">
    <%= q.submit "Add New Event", class:"submit-button"%>
  </div>
<% end %>
</div>
