<div class="new-datetime-form">
  <%= form_for([@event, @datetime]) do |q| %>
    <%= q.hidden_field :event_id, :value => @event.id %>
    <%= q.hidden_field :user_id, :value => current_user.id %>

    <div class="field">
      <%= q.label :date, "Date" %><br>
      <%= q.text_field :date %>
    </div>

    <div class="field">
      <%= q.label :time, "Time" %><br>
      <%= q.text_field :time %>
    </div>

    <div class="field">
      <%= q.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="field">
      <%= q.hidden_field :event_id, :value => @event.id %>
    </div>

    <div class="actions">
      <%= q.submit "Add New Date/Time", class:"submit-button"%>
    </div>
  <% end %>
</div>
